/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131313;
    color: #EFF0EA;
  }
  
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  
  header {
    background-color: #2B2B2B;
    padding: 20px;
    text-align: center;
    color: #86868B;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #86868B;
  }
  
  
 .imgperfil {
border-radius: 50%;  
}
  .imgpro {
    aspect-ratio: 16/9;
   width: 100%;
    
  }
  /* Colores */
  .negro {
    background-color: #131313;
  }
  .negro_claro {
    background-color:  #2B2B2B;
  }
  .gris {
    background-color:  #86868B;
  }
  .azul {
    background-color:  #1561F0;
  }
  .blanco {
    background-color:  white;
  }
  .otroblanco {
    color: #EFF0EA;
  }
  
  
  
 